# Ignorar o ambiente virtual
fidc-insight-mvp-env/

# Ignorar arquivos de banco de dados locais pesados
data/
outputs/
*.db
*.pbix

# Ignorar credenciais e senhas
.env

# Ignorar arquivos de cache do Python (boa prática)
__pycache__/
*.pyc
.ipynb_checkpoints/
