# Ignorar o ambiente virtual
fidc-insight-mvp-env/

# Ignorar arquivos de banco de dados locais pesados, arquivo binario do power bi e cahe ddo power bi
data/
outputs/
*.db
*.pbix
**/.pbi/localSettings.json
**/.pbi/cache.abf

# Ignorar credenciais e senhas
.env

# Ignorar arquivos de cache do Python (boa prática)
__pycache__/
*.pyc
.ipynb_checkpoints/
